body {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 0, 0)
  );
}

h1,
h2 {
  text-align: center;
}

.grid-container {
  display: grid;
  column-gap: 10em;
  row-gap: 10em;
}

.grid-item {
  background-color: black;
  color: white;
  border: 10em;
  width: 10em;
}
